{% extends "layout.html" %}

{% block page_js %}
<script src="/js/search.js"></script>
{% endblock page_js %}

{% block content %}
<div class="span3" style="position: absolute; left: 20px;">
  <img src="http://media.treehugger.com/assets/images/2011/10/shigeru-ban-paper-tube-schools-china.jpg" width="100%">
</div>

<div class="row-fluid">
  <div class="span3"></div>
  <div class="span2">
    <div class="hero-unit">
      Grades
    </div>
  </div>
  <div class="span2">
    <div class="hero-unit">
      Grades
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span3"></div>
  <div class="span2">
    <div class="hero-unit">
      Grades
    </div>
  </div>
  <div class="span2">
    <div class="hero-unit">
      Grades
    </div>
  </div>
</div>

{% endblock content %}
