{% extends "layout.html" %}

{% block page_js %}
<script src="/js/search.js"></script>
{% endblock page_js %}

{% block content %}
<div class="row-fluid">
<div class="span3">
  <div class="well sidebar-nav">
	<h2>Student Info</h2>
	<form action="/api/search" method="GET" id="searchform">
          <label for="grades">Grades</label>
          <select name="grades">
            <option value="0">All As and Bs</option>
            <option value="1">At most 1 C in a minor subject</option>
            <option value="2">At most 1 C in a major subject</option>
            <option value="3">2 or more Cs</option>
            <option value="4">D or F in any class</option>
          </select>
	  <label for="pssa">PSSA Math</label>
          <select name="pssa_math">
            <option value="-1">Not Taken</option>
            <option value="2">Advanced</option>
            <option value="1">Proficient</option>
            <option value="3">Near Proficient</option>
            <option value="4">Less than Near Proficient</option>
          </select>
	  <label for="pssa">PSSA Reading</label>
          <select name="pssa_reading">
            <option value="-1">Not Taken</option>
            <option value="2">Advanced</option>
            <option value="1">Proficient</option>
            <option value="3">Near Proficient</option>
            <option value="4">Less than Near Proficient</option>
          </select>
	  <label for="absences">Absences</label>
	  <select name="absences" id="absences">
	    <option value="0">0</option>
	    <option value="1">1-10</option>
	    <option value="11">11+</option>
	  </select>
	  <label for="tardies">Tardies</label>
	  <select name="tardies" id="tardies">
	    <option value="0">0</option>
	    <option value="1">1-5</option>
	    <option value="6">6+</option>
	  </select>
          <label for="discipline">Discipline</label>
          <select name="discipline" id="discipline">
            <option value="0">None</option>
            <option value="1">Incident Reported Last Year</option>
            <option value="2">Previous Incidents</option>
            <option value="1">Previous Incidents and Reported Last year</option>
          </select>
          <label form="nat">National Percentile</label>
          <input name="national_rank" value="0">
	</form>
  </div><!--/.well -->
</div><!--/span-->
  <style>

  .box {
    width: 225px;
    height: 225px;
    background: #EDC2C2;
    border-radius: 10px;
    text-align: center;
    margin: 0px 15px 15px 0px;
  }

  .school-name {
    height: 115px;
    font-size: 16px;
    line-height: 25px;
    padding: 10px;
    font-weight: bold;
  }

  .grad-rate {
    text-align: center;
    margin-top: 5px;
    background: rgb(210,210,210);
    height: 60px;
    border-radius: 10px;
    color: black;
    width: 120px;
    padding-top: 4px;
    margin-left: 53px;
  }

  .column {
    width: 225px;
    float: left;
    margin-right: 50px;
  }

  .highlight {
      background: rgba(238,238,238, 1);
  }

  .matches {
    font-size: 28px;
    color: green;
  }


  </style>
<div class="span9">

<div id="citywide" class="column"></div>

<div id="selective" class="column"></div>

<div id="neighborhood" class="column"></div>


  </div><!--/row-->
</div><!--/span-->
</div><!--/row-->
{% endblock content %}
